* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  min-height: 100vh;
  padding: 20px 70px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 10px 15px;
  background-color: white;
  border-radius: 20px;
}

div.header_flex {
  display: flex;
  justify-content: center;
}

button.btn {
  border-radius: 10px;
  border: none;
  padding: 12px 12px;
  margin-right: 10px;
  cursor: pointer;
}

body.dark button.btn {
  background-color: hsl(226, 11%, 37%);
}

section.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 10px;
}

.card {
  display: flex;
  width: 438px;
  height: 200px;
  img {
    width: 60px;
    height: 60px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: hsl(3, 71%, 56%);
}

.switch input:checked + .slider::before {
  transform: translateX(18px);
}

body.dark {
  background: linear-gradient(180deg, #040918 0%, #091540 100%);
  color: #eef8f9;
}

.btn {
  cursor: pointer;
  transition: transform 0.2s;
}

.btn:active {
  transform: scale(0.9);
}

body.dark header {
  background-color: hsl(225, 23%, 24%);
}

div.img_name {
  display: flex;
  gap: 10px;
  p.description {
    width: 300px;
    margin-top: 8px;
  }
}

div.card_style {
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

div.remove_toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button.remove,
.active,
.inactive,
.all {
  width: 70px;
  height: 35px;
  border-radius: 15px;
  border: 1px solid gray;
  background-color: white;
}

body.dark p.description {
  color: #670000;
}

body.dark h3 {
  color: #670000;
}
